[project]
name = "anubis"
version = "2.0.0"
dynamic = ["dependencies", "optional-dependencies"]

[project.urls]
repository = "https://github.com/letsbuilda/anubis"
documentation = "https://docs.letsbuilda.dev/anubis/"

[build-system]
requires = ["setuptools", "wheel"]
build-backend = "setuptools.build_meta"

[tool.setuptools.dynamic.dependencies]
file = ["requirements.txt"]

[tool.setuptools.dynamic.optional-dependencies]
dev = {file = ["requirements-dev.txt"]}
tests = {file = ["requirements-tests.txt"]}
docs = {file = ["requirements-docs.txt"]}

[tool.sphinx]
copyright = "Darbia"
author = "Bradley Reynolds"

[tool.black]
target-version = ["py310"]
line-length = 120

[tool.isort]
profile = "black"

[tool.pylint.format]
max-line-length = 120

[tool.ruff]
line-length = 120

[tool.pylint.messages_control]
disable = "W1203,R0903,R0911"
# justifications:
# W1203 (logging-fstring-interpolation) - developer UX
# R0903 (too-few-public-methods) - NamedTuple(s)
# R0911: (too-many-return-statements) - refactor me plz
