# Development Requirements - linting, formatting, etc.
# --index-url=http://pypi.example.com/simple
# --no-cache-dir

# Constrain versions installed to be compatible with core dependencies
--constraint requirements.txt

black
isort
pylint
ruff
